cscope*
tunefs.ocfs2
.*.sw?
stamp-md5
*.d
tunefs.ocfs2.8
libtunefs_err.[ch]
debug_*
ocfs2ne_features
ocfs2ne_feature_backup_super
ocfs2ne_feature_extended_slotmap
ocfs2ne_feature_sparse_files
ocfs2ne_feature_unwritten_extents
ocfs2ne_list_sparse_files
ocfs2ne_reset_uuid
ocfs2ne_resize_volume
ocfs2ne_set_label
ocfs2ne_set_journal_size
ocfs2ne_set_mount_type
ocfs2ne_set_slot_count
ocfs2ne_update_cluster_stack
